<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    วิชาที่คุณรับสอน
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form class="flex flex-col mt-3 pb-4 bg-card shadow overflow-hidden" [formGroup]="formData">
            <div class="flex flex-col sm:flex-row  mt-8 px-8 ">

                <div class="flex flex-auto flex-wrap">
                    <div class="flex flex-col w-full lg:w-4/4 p-5">
                        <fuse-alert [appearance]="'outline'" [type]="'info'">
                            ใส่รายการบริการทั้งหมดที่คุณให้บริการแก่ลูกค้า
                            เราส่งแบบฟอร์มให้คุณตามบริการที่คุณใส่ในโปรไฟล์
                        </fuse-alert>
                    </div>
                    <div class="flex flex-col w-full lg:w-4/4 mt-5 p-5">
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">

                            <!-- /// วิชาที่รับสอน -->

                            <div *ngFor="let data of subjects.data; index as i;"
                                class="flex flex-col shadow rounded-2xl overflow-hidden bg-card" >
                                <div class="flex flex-col p-6">
                                    <div class="flex items-center justify-between">
                                        <div class="mt-4 text-lg font-medium"> {{data.name}}</div> 
                                            <!-- <div class="-mr-3">
                                                <button mat-icon-button [matMenuTriggerFor]="listCard05Menu">
                                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                                </button>
                                                <mat-menu #listCard05Menu="matMenu">
                                                    <button mat-menu-item (click)="editClickDialog(data.id)">
                                                        <mat-icon class="icon-size-5 text-blue-600" svgIcon="heroicons_solid:search"
                                                        [matTooltip]="'Delete'"></mat-icon>Detail</button> 
                                                    <button mat-menu-item (click)="delSubject(data.id)"> 
                                                        <mat-icon class="icon-size-5 text-red-600" [svgIcon]="'heroicons_solid:trash'" 
                                                        [matTooltip]="'Delete'"></mat-icon>Delete</button>
                                                </mat-menu>
                                            </div> -->
                                       
                                        <div class="flex items-center">
                                            <ng-container>
                                                <mat-icon class="icon-size-5 text-blue-600 mx-2" [svgIcon]="'heroicons_solid:eye'" (click)="editClickDialog(data.id)"
                                                    [matTooltip]="'Details'"></mat-icon>
                                                <mat-icon class="icon-size-5 text-red-600" [svgIcon]="'heroicons_solid:trash'" (click)="delSubject(data.id)"
                                                    [matTooltip]="'Delete'"></mat-icon>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- <div class="flex flex-col w-3/6 sm:3/6 lg:w-1/6 mt-5 p-5 justify-end">
                        <div class="flex flex-col">
                            <button mat-raised-button bg-primary-200 color="primary" 
                                (click)="actionClickDialog('Open')">เพิ่มวิชาที่รับสอน</button>

                        </div>
                    </div> -->

                </div>
            </div>
            <!-- button -->
            <div class="flex items-center justify-end w-full border-t mt-5 p-5">
                <div class="flex items-center justify-end">
                    <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="actionClickDialog('Open')">
                        <mat-icon svgIcon="heroicons_solid:plus"></mat-icon>
                        เพิ่มวิชาที่รับสอน
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>




<!-- Overlay element -->
<div id="overlay" class="fixed hidden z-999 w-screen h-screen inset-0 bg-gray-900 bg-opacity-60"></div>

<!-- The dialog -->
<div id="dialog"
    class=" hidden fixed h-4/5 sm:h-4/5 z-999 top-24 sm:top-16 left-0 sm:left-1/4 inset-0 w-full sm:w-6/12 md:w-6/12 bg-white rounded-md px-5 py-4 pb-8 drop-shadow-lg">
    <!-- header -->
    <!-- <div class="flex items-start justify-between"> -->
    <div class="flex items-start justify-between">

        <div class="flex flex-col w-full lg:w-6/6 py-2">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                ข้อมูลวิชาที่รับสอน
            </h3>
        </div>

        <button type="button" (click)="actionClickDialog('Close' )"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="defaultModal">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Close modal</span>
        </button>

    </div>
    <!-- body -->
    <div class="flex-col h-5/6 overflow-auto border-t border-b border-gray-300 ">
        <!-- Form -->
        <form class="mt-2" [formGroup]="formData">
            <div class="flex-row basis-full lg:w-6/6 mt-5 p-5 py-1">
                <mat-form-field class="w-full">
                    <mat-label class="text-lg dark:text-white"> ชื่อวิชา</mat-label>
                    <input matInput [formControlName]="'name'">
                </mat-form-field>
                <div class="py-4">
                    <h3 class="text-xl font-bold dark:text-white">
                        คัดกรองนักเรียน
                    </h3>
                    <fuse-card class="flex flex-col w-full px-8 pt-6 pb-4 mb-4 filter-list">
                        <div class="flex items-center justify-between">
                            <div class="text-xl font-semibold leading-tight">คุณสอนผู้เรียนวัยใด?</div>
                        </div>
                        <div class="flex flex-col mt-3">
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'student_teach_1'" checked="true">
                                วัยอนุบาล
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'student_teach_2'" checked="true">

                                วัยประถม
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'student_teach_3'" checked="true">
                                วัยมัธยมต้น
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'student_teach_4'" checked="true">
                                วัยมัธยมปลาย
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'student_teach_5'" checked="true">
                                วัยมหาวิทยาลัย
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'student_teach_6'" checked="true">
                                วัยผู้ใหญ่
                            </mat-checkbox>

                        </div>
                    </fuse-card>

                    <fuse-card class="flex flex-col  w-full px-8 pt-6 pb-4 mb-4 filter-list">
                        <div class="flex items-center justify-between">
                            <div class="text-xl font-semibold leading-tight">วันที่สามารถสอนได้?</div>
                        </div>
                        <div class="flex flex-col mt-3">
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'teach_date_1'" checked="true">
                                วันจันทร์ - วันศุกร์
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'teach_date_2'" checked="true">
                                วันเสาร์ - วันอาทิตย์
                            </mat-checkbox>
                        </div>
                    </fuse-card>
                    <fuse-card class="flex flex-col  w-full px-8 pt-6 pb-4 mb-4 filter-list">
                        <div class="flex items-center justify-between">
                            <div class="text-xl font-semibold leading-tight">ช่วงเวลาของวันที่สามารถสอนได้?</div>
                        </div>
                        <div class="flex flex-col mt-3">
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'teach_time_1'" checked="true">
                                เช้า
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'teach_time_2'" checked="true">
                                วันเสาร์ - วันอาทิตย์
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'teach_time_3'" checked="true">
                                วันเสาร์ - วันอาทิตย์
                            </mat-checkbox>
                        </div>
                    </fuse-card>
                    <fuse-card class="flex flex-col  w-full px-8 pt-6 pb-4 mb-4 filter-list">
                        <div class="flex items-center justify-between">
                            <div class="text-xl font-semibold leading-tight">เลือกความพร้อมของผู้เรียน?</div>
                        </div>
                        <div class="flex flex-col mt-3">
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'availability_1'" checked="true">
                                ทันทีที่พบคุณครูที่ผู้เรียนต้องการ
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'availability_2'" checked="true">
                                ยังไม่แน่ใจ แต่ต้องการเริ่มเรียนเร็วๆนี้
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'availability_3'" checked="true">
                                ไม่ใช่ตอนนี้ ไม่รู้เมื่อใด
                            </mat-checkbox>
                        </div>
                    </fuse-card>
                    <fuse-card class="flex flex-col  w-full px-8 pt-6 pb-4 mb-4 filter-list">
                        <div class="flex items-center justify-between">
                            <div class="text-xl font-semibold leading-tight">คุณสอนอย่างไร?</div>
                        </div>
                        <div class="flex flex-col mt-3">
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'how_to_1'" checked="true">
                                ตัวต่อตัว
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'how_to_2'" checked="true">
                                ออนไลน์ (video call)
                            </mat-checkbox>
                          
                        </div>
                    </fuse-card>
                    <fuse-card class="flex flex-col  w-full px-8 pt-6 pb-4 mb-4 filter-list">
                        <div class="flex items-center justify-between">
                            <div class="text-xl font-semibold leading-tight">คุณสอนลูกค้าคลาสละ 1 คน หรือสอนเป็นกลุ่ม?</div>
                        </div>
                        <div class="flex flex-col mt-3">
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'client_1'" checked="true">
                                คนเดียว
                            </mat-checkbox>
                            <mat-checkbox class="my-1" [color]="'primary'" [formControlName]="'client_2'" checked="true">
                                เป็นกลุ่ม
                            </mat-checkbox>
                          
                        </div>
                    </fuse-card>
                </div>

            </div>

        </form>

    </div>
    <!-- Footer -->
    <div class="mt-4 flex justify-end">
        <button id="save" class="mat-primary  " *ngIf="CheckEdit == true"   mat-flat-button mat-raised-button    (click)="dialogSave()"> บันทึก </button>
        <button id="close" class="text-gray-400" mat-flat-button  (click)="actionClickDialog('Close')">
            ปิดหน้าต่าง</button>
    </div>

</div>